.scnumber-select {
    position: relative;
    display: none;
}

.select-scnumbers {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.select-scnumbers div {
    padding: 5px 10px;
    cursor: pointer;
}

.select-scnumbers div:hover {
    background-color: #ddd;
}

.company-select {
    position: relative;
    display: none;
}

.select-companies {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

.select-companies div {
    padding: 5px 10px;
    cursor: pointer;
}

.select-companies div:hover {
    background-color: #ddd;
}
