.user-tile {
    border: 1px solid #ccc;
    padding: 1%;
    margin: 1%;
    border-radius: 2%;
    width: 98%;
    display: inline-block;
}

.user-avatar img {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-bottom: 1%;
}

.user-details h2 {
    margin: 0;
    font-size: 18px;
}

.user-details p {
    margin: 0;
}
